
Parte03/BE/borrar_este_archivo_de_texto.txt
Parte03/BE/node_modules/
Parte03/FE/node_modules/
Parte04/base_Datos/db.sql
Parte04/BE/node_modules/
Parte04/FE/node_modules/
Parte05/BE/node_modules/
Parte05/FE/node_modules/