
Parte03/BE/node_modules/object-inspect/LICENSE
*.txt
Parte03/BE/borrar_este_archivo_de_texto.txt
Parte03/BE/node_modules/.bin/mime
Parte03/BE/node_modules/.bin/mime.cmd
Parte03/BE/node_modules/.bin/mime.ps1
Parte03/BE/node_modules/
Parte03/FE/node_modules/
